<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @foro.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @foro.description %>
</p>

<%= link_to 'Edit', edit_foro_path(@foro) %> |
<%= link_to 'Back', foros_path %>
